@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;   
    src: url(../fontes/idroid.otf);
    font-weight: normal;
}

:root{
    --cor0:#0cf25d79;
    --cor1:#038C3E;
    --cor2:#02735E;
    --cor3: #025951;
    --cor4:#034159;
    --fonte-android: android;
    --fonte-destaque: bebas neue, 'cursive';
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to top,var(--cor4,), var(--cor1));
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 10px;
}

header > h1{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 3em;
    text-shadow: 0px 2px 2px black;
}

header > p{
    font-family: var(--fonte-padrao);
    min-width: 320px;
    margin: auto;
    font-size: 1.25em;
    text-shadow: 0px 2px 2px black;
    padding-bottom: 10px;
}

nav{
    background-color: var(--cor4);
    padding: 10px;
}

nav > a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav > a:hover{
    color: var(--cor4);
    background-color: var(--cor1);
    text-decoration: underline;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.42);
}

main > h1{
    font-family: var(--fonte-android);
    color: var(--cor2);
    font-size: 1.5 em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor1);
    background-image: linear-gradient(to right, var(--cor0), transparent );
    text-indent: 8px;
}

main p {
    margin: 8px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    padding: 10px 0px;
}

main img{
    width: 100%;
}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    color: var(--cor3);
    text-decoration: none;
    background-color: var(--cor0);
    font-weight: bold;
    padding: 5px 5px;
}

main a:hover{
    text-decoration: underline;
    font-size: 1.25em;
}

a.externo::after{
    content: '\0020\1F517';
}

div.video{
    background-color: var(--cor4);
    margin: 0px -20px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 57.5%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.42);
}

aside > h3{
    text-indent: 30px;
    color: white;
    background-color: var(--cor2);
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > p{
    padding: 0px 10px;
}

aside > ul{
    list-style-type: '\0020\2714\0020';
    padding-left: 10px;
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: #025951;
    color: white;
    padding: 8px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: lime;
}